body, html
{
    height: 100%;
    margin: 0;
    background-color: black;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box
{
    width: 320px;
    height: 500px;
    padding: 10px;
    border: 5px solid rgb(44, 39, 39);
    background-color: rgb(255, 255, 255);
}